{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardio Sync</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        <img src="{% static 'images/slogo.png' %}" alt="Small Cardio Sync Logo">
        <a href="{% url 'home' %}" class="nav-link">Home</a>
        <a href="{% url 'Patients' %}" class="nav-link">Patients</a>
        <a href="{% url 'new_patients' %}" class="nav-link">New Patients</a>
    </nav>
    
    <header class="hero">
       
    </header>
    <div class="welcome-text">
        <h1> Welcome to Cardio Sync</h1>
        <img src="{% static 'images/logo.png' %}" alt="Cardio Sync Logo">
        <h2> Your trusted ally for monitoring your patients heart rates</h2>
        
    </div>


    <div id="chatbot-icon" onclick="toggleChatbot()">
        <img src="{% static 'images/chatbot.jpg' %}" alt="Chatbot" />
    </div>

    <!-- Chatbot Box -->
    <div id="chatbot-container">
        <div id="chatbot-header" onclick="toggleChatbot()">💬 AI Nurse </div>
        <div id="chatbot-box">
            <div id="chatbox"></div>
            <div id="chatbot-input">
                <input type="text" id="userInput" placeholder="Type your message...">
                <button onclick="sendMessage()">➤</button>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2025 Interactive Webpage. All rights reserved.</p>
    </footer>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
