{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardio Sync</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <nav>
        <a href="{% url 'home' %}" class="nav-link">Home</a>
        <a href="{% url 'service_match' %}" class="nav-link">Patients</a>
        

    </nav>

    
    
    
    
    


    
    <footer>
        <p>&copy; 2025 Interactive Webpage. All rights reserved.</p>
    </footer>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>


